.header
  .chat-side
    .chat-side__side-header
      .chat-side__side-header__box
        .chat-side__side-header__user-name
          test
        .chat-side__side-header__box__menu
          =link_to "#",class: "side-header__btn" do
            = icon('fas', 'cog')
          =link_to "#",class: "side-header__btn" do
            = icon('fas', 'edit')
    .chat-side-groups
      .chat-side-groups__group-name
        ttttttttttttttt
      .chat-side-groups__latest-message
        まだ