.header
  .chat-side
    .chat-side__side-header
      .chat-side__side-header__box
        .chat-side__side-header__user-name
          = current_user.name
        .chat-side__side-header__box__menu
          =link_to "#",class: "side-header__btn" do
            = icon('fas', 'cog')
          =link_to "edit_user_path(current_user)",class: "side-header__btn" do
            = icon('fas', 'edit')
            
    .chat-side-groups
      .group
        .chat-side-groups__group-name
          ttttttttttttttt
        .chat-side-groups__latest-message
          まだ@@@@@@@@@